@media (min-aspect-ration: 16/9) {
  .videoBG {
    width: 100%;
    height: auto;
  }
}
@media (min-aspect-ration: 16/9) {
  .videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1199px) {
  .projects {
    padding: 80px 0;
  }
  .about {
    padding: 80px 0;
  }
  .flex_about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .flex_about .text {
    margin: 0px 0 40px 0;
  }
  .flex_about img {
    /* display: none; */
    width: 300px;
    margin: auto;
    opacity: 0.9;
    /* background: rgba(0, 0, 0, 0.144); */
  }
}

@media (max-width: 950px) {
  .about .grid_skills {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }
  #contact_form {
    height: 100%;
  }
  #contact_form .container {
    padding: 0;
  }
  .contact {
    height: 100%;
  }
  .contact .flex_contact {
    flex-direction: column-reverse;
    height: 100vh;
  }

  .contact .flex_contact .form form {
    width: 100%;
  }
  .contact .flex_contact .form,
  .contact .flex_contact .contact_info {
    /* padding: 5% 15% 10% 15%; */
    transform: translate(200%, 0px);
  }
  .contact .flex_contact .contact_info {
    transform: translate(-200%, 0px);
    flex: 0;
  }
}

@media (max-width: 780px) {
  footer .flex_footer .social_footer ul {
    width: 400px;
  }

  .navbar .flex_navbar .nav_ul {
    order: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 45px;
    font-weight: 500;
    padding-left: 100px;
    display: flex;
    position: fixed;

    background: var(--dark-color);
    transform: translate(-120%, 0);
  }
  .navbar .flex_navbar .nav_ul img {
    display: block;
    width: 350px;
    padding: 35px 25px 0px 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .navbar .flex_navbar .nav_ul .social {
    order: 2;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    padding: 50px 25px;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;

    width: 100%;
  }
  .navbar .flex_navbar .nav_ul .social a {
    padding-right: 40px;
  }
  .navbar .flex_navbar .nav_ul.show {
    /* transition: transform 450ms ease-in-out; */
    transform: translate(0, 0);
  }

  .navbar .flex_navbar .nav_ul .close_ham {
    cursor: pointer;
    padding: 0 15px 30px 15px;
    position: absolute;
    align-self: flex-end;
    top: 0;
    padding: 30px 50px;
  }

  .navbar .flex_navbar .nav_ul .close_ham > * {
    position: absolute;
    width: 4px;
    height: 50px;
    background: #fff;
    transition: 350ms ease-in-out;
  }

  .navbar .flex_navbar .nav_ul .close_ham .one {
    transform: rotate(45deg);
  }
  .navbar .flex_navbar .nav_ul .close_ham .two {
    transform: rotate(135deg);
  }
  .navbar .flex_navbar .hamburger {
    display: block;
  }
}

@media (max-width: 420px) {
  footer .flex_footer .social_footer ul {
    width: 250px;
  }
}
