@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors */
  --hover-navbar-color: #24848de5;
  --neon-shadow-color: rgba(255, 255, 255, 0.466);
  --light-hover-color: rgb(208, 233, 232);
  --line-color: #ff0677;
  --underline-color: #00ff9f;

  --dark-color: rgb(33, 46, 54);
  --bright-color: #fff;

  /* other */
  --header-text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000;
  --navbar-shadow: 4px;
  /* contact icon colors */
  --icon-one: #ff0677;
  --icon-two: #00c7eb;
  --icon-three: #00da86;
  --icon-four: #0069e0;
  /* --icon-one: #ff0677;
  --icon-two: #ff0677;
  --icon-three: #ff0677;
  --icon-four: #ff0677; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}
h2 {
  font-weight: 200;
  font-size: 50px;
  cursor: default;
  color: var(--bright-color);
  /* text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000; */
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.199),
    -1px -1px 3px rgba(255, 255, 255, 0.199),
    1px -1px 3px rgba(255, 255, 255, 0.199),
    -1px 1px 3px rgba(255, 255, 255, 0.199);
}
h3 {
  line-height: 1.8;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  text-shadow: 0px 0px 2px rgb(73, 228, 255), 0px 0px 1px rgb(255, 255, 255);
}
img {
  width: 100%;
  height: auto;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--bright-color);
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}
/* Style autofill input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ddd;
  /* -webkit-box-shadow: none; */
  transition: background-color 5000s ease-in-out 0s;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0px 0px 7px 3px rgb(29, 129, 168);
  border-bottom: 1px rgba(218, 216, 216, 0.63) solid;
}
.videoBG {
  position: absolute;
  align-self: flex-start;
  transform: scale(1.2);
  /* background: no-repeat center center/cover; */
  width: auto;
  height: 100vh;
  margin: 0 auto;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: rgba(55, 55, 58, 0.445); */
  background: rgba(70, 85, 80, 0.335);
}
.header * {
  z-index: 5;
}

.hero .header {
  margin-top: 40px;
  position: relative;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .header .name,
.hero .header .profession {
  display: flex;
  flex-direction: row;
}

.hero .header .name h1 {
  cursor: default;
  font-weight: 200;
  font-size: 85px;
  color: var(--bright-color);
  text-shadow: var(--header-text-shadow);
}
.hero .header .name h1:hover,
.hero .header .profession p:hover {
  color: var(--underline-color);
  text-shadow: 0px 0px 3px rgb(0, 204, 204);
}
#neon_md,
#neon_fwd,
#neon_about {
  transition: color 1000ms ease-in-out, text-shadow 1000ms ease-in-out;
}

#neon_md.show,
#neon_fwd.show,
#neon_about.show {
  color: #fff;
  text-shadow: 1px 1px 10px var(--neon-shadow-color),
    -1px -1px 10px var(--neon-shadow-color),
    1px -1px 10px var(--neon-shadow-color),
    -1px 1px 10px var(--neon-shadow-color);
}

.hero .header .profession p {
  cursor: default;
  font-weight: 100;
  font-size: 35px;
  text-shadow: var(--header-text-shadow);
}

.hero .header .social {
  width: 140px;
  padding: 40px 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.navbar .flex_navbar .nav_ul .social a,
.hero .header .social a {
  color: var(--light-hover-color);
  cursor: pointer;
}

/* .hero .header .social p {
  margin-left: -5px;
  margin-top: 3px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
} */
.social i,
.social p {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1),
    1px -1px 8px rgba(0, 0, 0, 0.1), -1px 1px 8px rgba(0, 0, 0, 0.1);
  transition: 250ms ease-in-out;
}
.social i:hover,
.social p.icon:hover {
  text-shadow: 1px 1px 2px var(--hover-navbar-color),
    -1px -1px 2px var(--hover-navbar-color),
    1px -1px 2px var(--hover-navbar-color),
    -1px 1px 2px var(--hover-navbar-color);
  color: var(--underline-color);
}
/* --- */

/* NAVBAR */
.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  background: rgba(33, 46, 54, 0.5);
  transform: translate(0, 0px);
  z-index: 4;
  transition: 550ms ease-in-out;
}
.navbar .flex_navbar {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}
.navbar .nav_ul {
  flex: 1;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  font-family: "roboto", sans-serif;
}
.nav_ul .social,
img.logo_ham {
  display: none;
  /* width: 10px; */
}

.navbar .hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
.navbar .hamburger:focus {
  outline: none;
}

.navbar svg {
  /* flex: 1; */
  width: 70px;
  height: 100%;
  max-width: 70px;
  cursor: pointer;
}
.navbar svg .svg_logo {
  transition: 200ms ease-in-out;
  fill: #fff;
}

.navbar ul li {
  transition: 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  margin: 0 20px;
  padding: 5px 0;
  overflow: hidden;
  color: var(--light-hover-color);
  transition: 200ms ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a.current {
  color: #fff;
  text-shadow: 0px 0px 0px var(--light-hover-color);
}
/* --- */

/* Parallax Icons */
.parallax_icons {
  position: absolute;
  color: #4b7c9936;
  text-shadow: 0px 0px 20px #3075815d;
  display: flex;
  z-index: 2;
  top: -20%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.parallax_icons * {
  position: relative;
}
.parallax_icons i:nth-child(1) {
  top: 15%;
  left: 56%;
}
.parallax_icons i:nth-child(2) {
  top: 80%;
  left: 92%;
}
.parallax_icons i:nth-child(3) {
  top: 65%;
  left: 0%;
}
/* --- */
/* ABOUT */
.about {
  position: relative;
  width: 100%;
  color: var(--bright-color);
  padding: 140px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.about .parallax_bg {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
  z-index: -1;
}
.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 46, 54, 0.85);
}
.about h2 {
  padding: 20px 30px 10px 30px;
}

.about .flex_about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .text {
  flex: 1;
  padding: 0 30px 0px 30px;
  text-align: justify;
  z-index: 2;
  background: rgba(18, 25, 29, 0.425);
  border-radius: 5px;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.about .text p {
  font-weight: 300;
}
.about .text p span {
  color: var(--underline-color);
  text-shadow: 0px 0px 4px rgba(150, 194, 179, 0.76);
  font-weight: 400;
}
.about .flex_about img {
  align-self: flex-end;
  flex: 1;
  max-width: 400px;
  height: auto;
  padding: 0 30px;
  z-index: 2;
}

/* SKILLS */
.about .grid_skills {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid #426b757c;
  padding-top: 40px;
}
.about .grid_skills .skill {
  color: var(--bright-color);
}
.about .grid_skills .skill h3 {
  padding-top: 10px;
  font-weight: 200;
  font-size: 18px;
}
.about .grid_skills .skill p {
  font-weight: 300;
  font-size: 14px;
}
.about .grid_skills .skill .stars {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  /* color: rgb(220, 255, 252); */
  color: rgb(206, 250, 228);
  text-shadow: 0px 0px 2px rgb(73, 255, 185), 0px 0px 2px rgb(0, 0, 0);
}

.about .grid_skills .skill > i {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
}
.about .grid_skills .skill .stars i {
  padding: 0 1px;
  opacity: 0;
  transition: 300ms ease-in-out;
}
#h_star.show,
#c_star.show,
#j_star.show,
#t_star.show,
#r_star.show,
#n_star.show {
  opacity: 1;
}
#h_star.blink,
#c_star.blink,
#j_star.blink,
#t_star.blink,
#r_star.blink,
#n_star.blink {
  text-shadow: 1px 1px 20px rgb(73, 228, 255), -1px -1px 20px rgb(73, 228, 255),
    -1px 1px 20px rgb(73, 228, 255), 1px -1px 20px rgb(73, 228, 255);
}
#h_star.neon,
#c_star.neon,
#j_star.neon,
#t_star.neon,
#r_star.neon,
#n_star.neon {
  /* text-shadow: 0px 0px 10px rgba(255, 244, 180, 0.596); */
  text-shadow: 0px 0px 10px rgba(241, 181, 221, 0.671);
  transition: text-shadow 200ms ease-in-out;
}

i.html {
  color: #dd4d25;
}
i.css {
  color: #1579b8;
}
i.javascript {
  color: #efd81d;
}
i.node {
  color: #7fc728;
}
i.react {
  color: #57d3f5;
}

/* --- */
/* PROJECTS */
.projects {
  position: relative;
  border-bottom: 1px rgba(255, 255, 255, 0.288) solid;
  border-top: 1px rgba(255, 255, 255, 0.288) solid;
  /* padding: 100px 0px; */
  background-color: #28323b;
  background-image: url("https://www.transparenttextures.com/patterns/triangles.png");

  text-align: center;
  box-shadow: 0px 0px 5px 1px rgba(29, 129, 168, 0.555);
  /* box-shadow: 10px 0 5px -2px #888; */
}
.projects:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(1, 255, 179, 0.103); */
}
.flex_projects {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.projects .flex_projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 30px;
  background: rgba(0, 0, 0, 0.301);
  border: 1px rgba(255, 255, 255, 0.315) solid;
  box-shadow: 0px 0px 5px 1px rgba(9, 15, 17, 0.336);
  cursor: default;
  overflow: hidden;
  opacity: 0;
  transition: 500ms ease-in-out;
}
.projects .flex_projects .project:before {
  content: "";
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(18, 24, 26, 0.329);
  z-index: 1;
}
.projects .flex_projects .project:nth-child(even) {
  transform: translate(100px, 0);
}
.projects .flex_projects .project:nth-child(odd) {
  transform: translate(-100px, 0);
}

.projects .flex_projects .project .show_box {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  padding: 0px 40px;
  text-align: justify;
  bottom: 15%;
  transform: translate(0, 40px);
  opacity: 0;
  transition: 250ms ease-in-out;
}
.projects .flex_projects .project .show_box p {
  font-weight: 300;
  padding: 30px 0;
}
.projects .flex_projects .project .show_box .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects .flex_projects .project .show_box .buttons a.btn {
  margin: 0 50px;
}

.projects .flex_projects .project img {
  transition: 200ms ease-in-out;
}

.projects .flex_projects .project .cover {
  transform: translateX(-510px);
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0.75turn,
    rgba(22, 59, 70, 0.192),
    rgba(24, 50, 56, 0.5)
  );

  transition: 350ms ease-in-out;
  z-index: 2;
}

.projects .flex_projects .project .info {
  /* opacity: 0; */
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 60%;
  left: 0%;
  padding: 4px 0px 4px 35px;
  z-index: 3;
  /* background: rgba(77, 96, 105, 0.288); */
  background: rgba(77, 96, 105, 0.288);
  box-shadow: 0px 0px 5px 5px rgba(16, 44, 51, 0.171);
  width: 100%;
  transition: 600ms ease-in-out;
}
.projects .flex_projects .project .info h3 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 3px rgb(0, 0, 0);
}
.projects .flex_projects .project .info p {
  /* font-style: italic; */
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 3px rgb(0, 0, 0);
}
/* --- */
/* Contact */
.contact {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0);
  transform: translate(-50%, -50%);
  transition: all 400ms ease-in-out;
  z-index: -1;
}
.contact h3 {
  font-weight: 400;
}
.contact.show {
  opacity: "1";
  z-index: 5;

  background: rgba(2, 23, 27, 0.657);
}
.contact .flex_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact .flex_contact .contact_info {
  flex: 1;
  color: var(--dark-color);
  position: relative;
  background: url("./img/parallax_bg_invert.jpg") no-repeat center top/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 60px 80px 60px;
  height: 100%;
  transform: translate(0px, -200%);
  transition: all 600ms ease-in-out;
  opacity: 0;
}
.contact .flex_contact .contact_info:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
}
.contact .flex_contact .contact_info > * {
  z-index: 10;
}

.contact .flex_contact .contact_info.show {
  transform: translate(0px, 0%);
  opacity: 1;
}
.contact .flex_contact .contact_info h3 {
  color: var(--dark-color);
  text-shadow: none;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.contact .flex_contact .contact_info p {
  font-size: 18px;
  text-align: justify;
}
.contact .flex_contact .contact_info .icons_contact {
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.contact .flex_contact .contact_info .icons_contact .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .flex_contact .contact_info .icons_contact .item #contact_icon {
  transition: 200ms ease-in-out;
  padding: 0 10px;
}

.contact .flex_contact .contact_info .icons_contact .item p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transform: translate(0, 25px);
  transition: 200ms ease-in-out;
  opacity: 0;
}
.contact .flex_contact .contact_info .icons_contact .item p.show {
  opacity: 1;
  transform: translate(0, 10px);
}
.contact .flex_contact .contact_info .quote {
  position: relative;
  text-align: center;
  align-self: center;
  font-size: 30px;
  padding: 5px 0;
  margin: auto;
  background: var(--dark-color);
  color: #fff;
  width: 100%;
}

.contact .flex_contact .form {
  flex: 1;
  position: relative;
  /* background: rgba(18, 30, 37, 0.94); */
  background: url("./img/parallax_bg_2.jpg") no-repeat bottom left/cover;
  color: var(--light-hover-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px;
  height: 100%;
  width: 100%;
  transform: translate(0px, 200%);
  transition: all 600ms ease-in-out;
  opacity: 0;
}
.contact .flex_contact .form form {
  width: 100%;
}
.contact .flex_contact .form:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 28, 32, 0.8);
  position: absolute;
}
.contact .flex_contact .form > * {
  z-index: 10;
}

.contact .flex_contact .form.show {
  transform: translate(0px, 0%);
  opacity: 1;
}
.contact .flex_contact .form .flex_close {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.contact .flex_contact .form .flex_close .close {
  cursor: pointer;
  padding: 0 15px 30px 15px;
}

.contact .flex_contact .form .flex_close .close > * {
  position: absolute;
  width: 3px;
  height: 30px;
  background: #fff;
  transition: 350ms ease-in-out;
}

.contact .flex_contact .form .flex_close .close .one {
  transform: rotate(45deg);
}
.contact .flex_contact .form .flex_close .close .two {
  transform: rotate(135deg);
}
.contact .flex_contact .form button {
  margin-top: 30px;
}
.contact .flex_contact .form button.block {
  cursor: not-allowed;
  border-bottom: rgba(255, 0, 0, 0.7) 4px solid;
  background: rgba(255, 255, 255, 0.3);
}

.contact .flex_contact .form h3 {
  text-shadow: none;
}
.contact .flex_contact .form p {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact .flex_contact .form > * {
  margin: 10px 0;
}

.contact .flex_contact .form .form_group {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 65px;
  overflow: hidden;
}
.contact .flex_contact .form .form_group .under {
  width: 100%;
  position: relative;
  top: 0px;
  height: 2px;
  z-index: 0;
  margin-top: -2px;
}
.contact .flex_contact .form .form_group .under2 {
  height: 2px;
  top: 0px;
}

.contact .flex_contact .form .form_group label {
  letter-spacing: 2px;
}

.contact .flex_contact .form .form_group .input {
  font-family: "Times New Roman", Times, serif;
  color: #ddd;
  width: 100%;
  border: none;
  background: rgba(18, 30, 37, 0);
  border-bottom: 2px solid #aaa;
  padding: 8px 0;
  font-weight: 50;
  font-size: 18px;
}
.contact .flex_contact .form .form_group .input:focus {
  outline: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  z-index: 10;
}

.contact .flex_contact .form .form_group .input.text {
  height: 130px;
  width: 100%;
  resize: vertical;
  overflow: auto;
}
.contact .flex_contact .thank_you {
  flex: 1;
  background: var(--dark-color);
  text-align: center;
  font-size: 40px;
  margin: auto;
  color: #fff;
  padding: 70px;
  height: 100%;
  transition: all 600ms ease-in-out;
}

/* --- */
/* Footer */
footer {
  color: #fff;
  background: var(--dark-color);
  padding: 5px 0 30px 0;
  height: 100%;
  width: 100%;
}

footer .flex_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .flex_footer .logo_footer {
  display: flex;
  justify-content: center;
}
footer img {
  position: relative;
  width: 170px;

  cursor: pointer;
  padding-top: 50px;
  z-index: 1;
}
footer i {
  position: absolute;
  transform: translate(0, 0px);
  opacity: 0;
  transition: 250ms ease-in-out;
  margin-top: 30px;
  z-index: 0;
}
footer p {
  font-size: 14px;
  font-weight: 300;
}

footer .flex_footer .social_footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  margin: 5% 0;
}
footer .flex_footer .social_footer ul li {
  padding: 15px 0;
  line-height: 1.5;
  overflow: hidden;
}
footer .flex_footer .social_footer ul li a {
  position: relative;
  color: var(--light-hover-color);
  transition: 250ms ease-in-out;
  z-index: 4;
  padding: 5px 0;
}
footer .flex_footer .social_footer ul li a:hover {
  color: #fff;
}
footer .flex_footer .social_footer ul li a .under,
footer .flex_footer .social_footer ul li a .under2 {
  height: 2px;
  margin-top: -4px;
  z-index: 0;
}
