@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap");

:root {
  --hover-navbar-color: #24848de5;
  --icon-hover-color: #65f2ffe5;
  --neon-color: rgb(255, 255, 255);
  --neon-shadow-color: rgba(255, 255, 255, 0.466);

  --navbar-shadow: 4px;
  /* Main colors */
  --primary-color: rgb(14, 82, 109);
  --secondary-color: rgb(49, 192, 218);

  --dark-color: rgb(33, 46, 54);
  --dark-second-color: rgb(38, 54, 63);
  --bright-color: #fff;
  --gray-color: #bfc9ca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
}
h2 {
  font-weight: 400;
  font-size: 50px;
  color: var(--gray-color);
}
img {
  width: 100%;
  height: auto;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--bright-color);
  cursor: pointer;
}
li {
  list-style: none;
}

/* HERO */
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow-x: hidden;
  z-index: 0;
  overflow-y: hidden;
}
.videoBG {
  position: absolute;
  align-self: flex-start;
  transform: scale(1.2);
  /* background: no-repeat center center/cover; */
  width: auto;
  height: 100vh;
  margin: 0 auto;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 55, 58, 0.445);
}
.header * {
  z-index: 5;
}

.hero .header {
  margin-top: 40px;
  position: relative;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .header .name,
.hero .header .profession {
  display: flex;
  flex-direction: row;
}

.hero .header .name h1 {
  cursor: default;
  font-weight: 200;
  font-size: 70px;
  color: var(--bright-color);
  text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000;
}
.hero .header .name h1:hover,
.hero .header .profession p:hover {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 3px rgb(0, 204, 204);
  /* font-weight: 300; */
  /* transition: 4s step-end; */
}
#neon,
#neon2 {
  transition: color 1000ms ease-in-out, text-shadow 1000ms ease-in-out;
}
#neon.show,
#neon2.show {
  color: var(--neon-color);
  text-shadow: 1px 1px 10px var(--neon-shadow-color),
    -1px -1px 10px var(--neon-shadow-color),
    1px -1px 10px var(--neon-shadow-color),
    -1px 1px 10px var(--neon-shadow-color);
}
.hero .header .profession p {
  cursor: default;
  font-weight: 100;
  font-size: 35px;
  text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000;
}

.hero .header .social {
  width: 250px;
  padding: 40px 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.hero .header .social a {
  color: #fff;
  cursor: pointer;
}
.social i {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1),
    1px -1px 8px rgba(0, 0, 0, 0.1), -1px 1px 8px rgba(0, 0, 0, 0.1);
}
.social i:hover {
  text-shadow: 1px 1px 2px var(--hover-navbar-color),
    -1px -1px 2px var(--hover-navbar-color),
    1px -1px 2px var(--hover-navbar-color),
    -1px 1px 2px var(--hover-navbar-color);
  color: var(--icon-hover-color);
  transition: 100ms linear;
}
/* --- */
/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(33, 46, 54, 0.6);
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  z-index: 1;
}
.navbar ul {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
}
.navbar ul li {
  transition: 150ms ease-in-out;
}
.navbar ul li a {
  padding: 10px;
}
.navbar ul li:hover,
.navbar ul li.current {
  text-shadow: -1px -1px var(--navbar-shadow) var(--hover-navbar-color),
    1px -1px var(--navbar-shadow) var(--hover-navbar-color),
    -1px 1px var(--navbar-shadow) var(--hover-navbar-color),
    1px 1px var(--navbar-shadow) var(--hover-navbar-color);
}
/* --- */
/* ABOUT */
.about {
  height: auto;
  width: 100%;
  background-color: var(--dark-color);
  color: var(--bright-color);
  padding: 60px 0;
}
.about h2 {
  margin-top: 35px;
  width: 100%;
  text-align: center;
}
.about .flex_about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .text {
  flex: 1.5;
  padding: 0 30px;
  text-align: justify;
}
.about .text h3 {
}
.about .text p {
  font-weight: 300;
}
.about img {
  flex: 1;
  width: 300px;
  height: auto;
  border-radius: 50%;
}
/* --- */
/* SKILLS */
.skills {
  /* height: 900px; */
  background: var(--dark-second-color);
  text-align: center;
  padding: 60px 0;
}
.skills h2 {
  padding-bottom: 10px;
}
.skills .grid_skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.skills .grid_skills .skill {
  padding: 20px;
  color: var(--bright-color);
}
.skills .grid_skills .skill h3 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 22px;
}
.skills .grid_skills .skill p {
  font-weight: 300;
  font-size: 14px;
}
.skills .grid_skills .skill i,
.skills .grid_skills .skill span {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
}
i.html {
  color: #dd4d25;
}
i.css {
  color: #1579b8;
}
i.javascript {
  color: #efd81d;
}
i.react {
  color: #57d3f5;
}

/* --- */
/* PROJECTS */
.projects {
  /* background: var(--gray-color); */
  background-color: #bfc9ca;
  background-image: url("https://www.transparenttextures.com/patterns/p2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 60px 0;
  /* height: 1000px; */
  text-align: center;
}
.projects h2 {
  color: var(--dark-color);
  font-weight: 500;
}
.flex_projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projects .flex_projects .project {
  max-width: 700px;
  height: auto;
  background: var(--dark-second-color);
  margin: 80px 0;
  box-shadow: 0px 0px 5px 1px #000;
}
.projects .flex_projects .project.one {
  margin-left: 70px;
}
.projects .flex_projects .project.two {
  margin-right: 70px;
}
.projects .flex_projects .project.three {
  margin-left: 70px;
}
