@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --hover-navbar-color: #24848de5;
  --icon-hover-color: #65f2ffe5;
  --neon-color: rgb(255, 255, 255);
  --neon-shadow-color: rgba(255, 255, 255, 0.466);
  --underline-color: rgb(208, 233, 232);

  /* --underline-shadow: 0px 0px 2px 1px #fff; */
  --navbar-shadow: 4px;
  --header-text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000;
  /* Main colors */
  --primary-color: rgb(14, 82, 109);
  --secondary-color: rgb(49, 192, 218);

  --dark-color: rgb(33, 46, 54);
  --dark-second-color: #26363f;
  --bright-color: #fff;
  --gray-color: #bfc9ca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}
h2 {
  font-weight: 200;
  font-size: 50px;
  cursor: default;
  color: var(--bright-color);
  /* text-shadow: 0px 0px 3px rgb(73, 228, 255), 0px 0px 10px #000; */
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.199),
    -1px -1px 3px rgba(255, 255, 255, 0.199),
    1px -1px 3px rgba(255, 255, 255, 0.199),
    -1px 1px 3px rgba(255, 255, 255, 0.199);
}
h3 {
  line-height: 1.8;
  font-size: 30px;
  font-weight: 200;
  color: var(--neon-color);
  text-shadow: 0px 0px 2px rgb(73, 228, 255), 0px 0px 1px rgb(255, 255, 255);
}
img {
  width: 100%;
  height: auto;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--bright-color);
  cursor: pointer;
}
li {
  list-style: none;
}
/* Style autofill input */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ddd;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
} */

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
  z-index: 0;
}
.videoBG {
  position: absolute;
  align-self: flex-start;
  transform: scale(1.2);
  /* background: no-repeat center center/cover; */
  width: auto;
  height: 100vh;
  margin: 0 auto;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 55, 58, 0.445);
}
.header * {
  z-index: 5;
}

.hero .header {
  margin-top: 40px;
  position: relative;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .header .name,
.hero .header .profession {
  display: flex;
  flex-direction: row;
}

.hero .header .name h1 {
  cursor: default;
  font-weight: 200;
  font-size: 85px;
  color: var(--bright-color);
  text-shadow: var(--header-text-shadow);
}
.hero .header .name h1:hover,
.hero .header .profession p:hover {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 3px rgb(0, 204, 204);
}
#neon_md,
#neon_fwd,
#neon_about {
  transition: color 1000ms ease-in-out, text-shadow 1000ms ease-in-out;
}

#neon_md.show,
#neon_fwd.show,
#neon_about.show {
  color: var(--neon-color);
  text-shadow: 1px 1px 10px var(--neon-shadow-color),
    -1px -1px 10px var(--neon-shadow-color),
    1px -1px 10px var(--neon-shadow-color),
    -1px 1px 10px var(--neon-shadow-color);
}

.hero .header .profession p {
  cursor: default;
  font-weight: 100;
  font-size: 35px;
  text-shadow: var(--header-text-shadow);
}

.hero .header .social {
  width: 250px;
  padding: 40px 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.hero .header .social a {
  color: var(--underline-color);
  cursor: pointer;
}
.hero .header .social p {
  margin-left: -5px;
  margin-top: 3px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
}
.social i,
.social p {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1),
    1px -1px 8px rgba(0, 0, 0, 0.1), -1px 1px 8px rgba(0, 0, 0, 0.1);
  transition: 250ms ease-in-out;
}
.social i:hover,
.social p.icon:hover {
  text-shadow: 1px 1px 2px var(--hover-navbar-color),
    -1px -1px 2px var(--hover-navbar-color),
    1px -1px 2px var(--hover-navbar-color),
    -1px 1px 2px var(--hover-navbar-color);
  color: #fff;
  border-color: var(--icon-hover-color);
  /* transition: 100ms linear; */
}

/* --- */
/* NAVBAR */
.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  background: rgba(33, 46, 54, 0.5);
  /* border-bottom: 1px rgba(255, 255, 255, 0.2) solid; */
  transform: translate(0, 0px);
  z-index: 4;
  transition: 550ms ease-in-out;
}
.navbar .flex_navbar {
  display: flex;
}
.navbar ul {
  flex: 1;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  /* font-family: "Work Sans", sans-serif; */

  /* font-family: "roboto", sans-serif; */
  /* text-shadow: 0px 0px 3px #fff; */
}
.navbar svg {
  flex: 1;
  width: 70px;
  height: auto;
  max-width: 70px;
  cursor: pointer;
}
.navbar svg .svg_logo {
  transition: 200ms ease-in-out;
  fill: #fff;
}

.navbar ul li {
  transition: 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  margin: 0 20px;
  overflow: hidden;
  color: var(--underline-color);
  /* text-shadow: 0px 0px 3px #000; */
  transition: 200ms ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a.current {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 0px var(--underline-color);

  /* text-shadow: -1px -1px var(--navbar-shadow) var(--hover-navbar-color),
    1px -1px var(--navbar-shadow) var(--hover-navbar-color),
    -1px 1px var(--navbar-shadow) var(--hover-navbar-color),
    1px 1px var(--navbar-shadow) var(--hover-navbar-color); */
}
/* --- */
/* Parallax Icons */
.parallax_icons {
  position: absolute;
  color: rgba(165, 206, 216, 0.09);
  text-shadow: 0px 0px 20px rgba(0, 225, 255, 0.09);
  display: flex;
  z-index: 2;
  top: -20%;
  left: 0%;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.parallax_icons * {
  position: relative;
}
.parallax_icons i:nth-child(1) {
  top: 15%;
  left: 56%;

  /* color: #efd81d; */
}
.parallax_icons i:nth-child(2) {
  top: 80%;
  left: 92%;
  /* color: #dd4d25; */
}
.parallax_icons i:nth-child(3) {
  top: 65%;
  left: 0%;
  /* color: #57d3f5; */
}
/* --- */
/* ABOUT */
.about {
  position: relative;
  width: 100%;
  /* background: var(--dark-color); */
  /* background: url("./img/keyboard3.jpg") no-repeat center center/cover; */
  color: var(--bright-color);
  padding: 170px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.about .parallax_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(0.2); */
  background: linear-gradient(var(--dark-color) 5%, rgba(33, 46, 54, 0.8) 50%);
  /* background: var(--dark-color); */
  /* background: url("./img/keyboard2.png") no-repeat center center/cover; */
  /* opacity: 0.9; */
}
.about h2 {
  padding: 20px 30px 10px 30px;
}

.about .flex_about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .text {
  flex: 1.5;
  padding: 0 30px 0px 30px;
  text-align: justify;
  z-index: 2;
  background: rgba(18, 25, 29, 0.425);
  border-radius: 5px;
  padding: 20px;
  margin-left: 30px;
}

.about .text p {
  font-weight: 300;
}
.about .flex_about img {
  flex: 1;
  max-width: 360px;
  height: auto;
  padding: 0 30px;
  /* border: 1px rgba(255, 255, 255, 0.349) solid; */
  /* background: rgba(0, 225, 255, 0.034); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.418); */
  /* border-radius: 34%; */
  z-index: 2;
}

/* SKILLS */
.about .grid_skills {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid rgba(91, 122, 126, 0.295);
  /* border-top: 10px solid
    linear-gradient(0.75turn, var(--dark-color), rgba(33, 46, 54, 0.79)); */

  padding-top: 40px;
}
.about .grid_skills .skill {
  color: var(--bright-color);
}
.about .grid_skills .skill h3 {
  padding-top: 10px;
  font-weight: 200;
  font-size: 18px;
}
.about .grid_skills .skill p {
  font-weight: 300;
  font-size: 14px;
}
.about .grid_skills .skill .stars {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: rgb(220, 255, 252);
  text-shadow: 0px 0px 2px rgb(73, 228, 255), 0px 0px 2px rgb(0, 0, 0);
}

.about .grid_skills .skill > i {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
}
.about .grid_skills .skill .stars i {
  padding: 0 1px;
  opacity: 0;
  transition: 300ms ease-in-out;
}
#h_star.show,
#c_star.show,
#j_star.show,
#t_star.show,
#r_star.show,
#n_star.show {
  opacity: 1;
}
#h_star.blink,
#c_star.blink,
#j_star.blink,
#t_star.blink,
#r_star.blink,
#n_star.blink {
  text-shadow: 1px 1px 20px rgb(73, 228, 255), -1px -1px 20px rgb(73, 228, 255),
    -1px 1px 20px rgb(73, 228, 255), 1px -1px 20px rgb(73, 228, 255);
}
#h_star.neon,
#c_star.neon,
#j_star.neon,
#t_star.neon,
#r_star.neon,
#n_star.neon {
  text-shadow: 0px 0px 10px rgba(255, 244, 180, 0.596);
  transition: text-shadow 200ms ease-in-out;
}

i.html {
  color: #dd4d25;
}
i.css {
  color: #1579b8;
}
i.javascript {
  color: #efd81d;
}
i.node {
  color: #7fc728;
}
i.react {
  color: #57d3f5;
}

/* --- */
/* PROJECTS */
.projects {
  border-bottom: 1px rgba(255, 255, 255, 0.288) solid;
  border-top: 1px rgba(255, 255, 255, 0.288) solid;
  padding: 100px 0px;
  /* background: var(--gray-color); */
  /* background-color: var(--dark-second-color); */
  background-color: #26363f;
  background-image: url("https://www.transparenttextures.com/patterns/triangles.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  text-align: center;
  box-shadow: 0px 0px 7px 3px rgb(29, 129, 168);
  /* box-shadow: 10px 0 5px -2px #888; */
}
.projects h2 {
}
.flex_projects {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects .flex_projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 30px;
  background: rgba(0, 0, 0, 0.301);
  border: 1px rgba(255, 255, 255, 0.315) solid;
  box-shadow: 0px 0px 5px 1px rgba(9, 15, 17, 0.336);
  cursor: default;
  overflow: hidden;
  opacity: 0;
  transition: 500ms ease-in-out;
}
.projects .flex_projects .project:before {
  content: "";
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(18, 24, 26, 0.329);
  z-index: 1;
}
.projects .flex_projects .project:nth-child(even) {
  transform: translate(100px, 0);
}
.projects .flex_projects .project:nth-child(odd) {
  transform: translate(-100px, 0);
}

.projects .flex_projects .project .show_box {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  padding: 0px 40px;
  text-align: justify;
  bottom: 15%;
  transform: translate(0, 40px);
  opacity: 0;
  transition: 250ms ease-in-out;
}
.projects .flex_projects .project .show_box p {
  padding: 30px 0;
}
.projects .flex_projects .project .show_box .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects .flex_projects .project .show_box .buttons a.btn {
  margin: 0 50px;
}

.projects .flex_projects .project img {
  transition: 200ms ease-in-out;
}

.projects .flex_projects .project .cover {
  transform: translateX(-510px);
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0.75turn,
    rgba(16, 52, 61, 0.863),
    rgba(12, 182, 224, 0.493)
  );

  transition: 350ms ease-in-out;
  z-index: 2;
}

.projects .flex_projects .project .info {
  /* opacity: 0; */
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 60%;
  left: 0%;
  padding: 4px 0px 4px 35px;
  z-index: 3;
  background: rgba(77, 96, 105, 0.288);
  box-shadow: 0px 0px 5px 5px rgba(16, 44, 51, 0.171);
  width: 100%;
  transition: 600ms ease-in-out;
}
.projects .flex_projects .project .info h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 0px 0px 2px rgb(73, 228, 255), 0px 0px 3px rgb(0, 0, 0);
}
.projects .flex_projects .project .info p {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0px 0px 2px rgb(73, 228, 255), 0px 0px 3px rgb(0, 0, 0);
}
/* --- */
/* Contact */
.contact {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.219);
  transform: translate(-50%, -155%);
  transition: transform 400ms ease-in-out;
  z-index: 2;
}
.contact h3 {
  font-weight: 400;
}
.contact.show {
  opacity: "1";
  transform: translate(-50%, -50%);
}
.contact .flex_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 780px;
}
.contact .flex_contact .contact_info {
  flex: 1;
  color: var(--dark-color);
  background: linear-gradient(rgb(248, 252, 255), rgb(200, 230, 248));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 60px;
  height: 100%;
}
.contact .flex_contact .contact_info h3 {
  color: var(--dark-color);
  text-shadow: none;
  font-weight: 500;
}

.contact .flex_contact .form {
  flex: 1;
  background: linear-gradient(rgb(18, 30, 37) 75%, rgb(30, 50, 61));

  color: var(--underline-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 60px;
  height: 100%;
}
.contact .flex_contact .form h3 {
  line-height: 1;
}
.contact .flex_contact .form p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: thin;
  font-size: 15px;
}
.contact .flex_contact .form > * {
  margin: 10px 0;
}

.contact .flex_contact .form .form_group {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.contact .flex_contact .form .form_group label {
  letter-spacing: 2px;
}

.contact .flex_contact .form .form_group input {
  font-family: "Times New Roman", Times, serif;
  color: #ddd;
  width: 100%;
  border: none;
  background: rgb(18, 30, 37);
  border-bottom: 1px solid #fff;
  padding: 8px 0;
  font-weight: 50;
  font-size: 18px;
}
.contact .flex_contact .form .form_group input.text {
  height: 150px;
  resize: horizontal;
  overflow: auto;
  margin-bottom: 10px;
}

.contact .flex_contact .form .form_group input:focus {
  outline: none;

  /* box-shadow: 0px 0px 0px 1px #000; */
}

/* --- */
/* Footer */
footer {
  color: #fff;
  background: var(--dark-color);
  padding: 60px 0;
}

footer .flex_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .flex_footer .logo_footer {
  display: flex;
  justify-content: center;
}
footer img {
  width: 170px;
  cursor: pointer;
}
footer i {
  position: absolute;
  transform: translate(0, -30px);
  opacity: 0;
  transition: 250ms ease-in-out;
}
footer p {
  font-size: 14px;
  /* font-family: "Work Sans", sans-serif; */
  font-weight: 300;
}
footer .flex_footer .social_footer ul {
  /* font-family: "Work Sans", sans-serif; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  font-size: 16px;
  font-weight: 500;
  margin: 60px 0;
}
footer .flex_footer .social_footer ul li {
  overflow: hidden;
  line-height: 1.5;
}
footer .flex_footer .social_footer ul li a {
  color: var(--underline-color);
  transition: 250ms ease-in-out;
}
footer .flex_footer .social_footer ul li a:hover {
  color: #fff;
}
footer .flex_footer .social_footer ul li a .under {
  height: 2px;
}
