.container {
  position: relative;
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
}
.wrap_parallax {
  position: absolute;
  max-width: 1680px;
  padding: 0px 10px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.layer {
  transition: transform 400ms ease-out;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;

  /* background: rgba(255, 255, 255, 0); */
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0) 0%,
    rgba(51, 51, 51, 0) 90%
  );
}
.skill img.ts {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  margin-bottom: -3px;
  margin-top: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.411);
  background: rgba(0, 0, 0, 0.315);
}
.btn {
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--dark-color);
  border: 1px rgba(255, 255, 255, 0.336) solid;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.315);
  transition: 150ms ease-in-out;
}
.btn:hover {
  background: var(--icon-hover-color);
  color: var(--dark-color);
}
.under {
  margin-top: -4px;
  align-self: flex-end;
  position: relative;
  width: 0%;
  height: 3px;
  margin-bottom: 2px;
  border-radius: 10px;
  background: var(--underline-color);
  box-shadow: var(--underline-shadow);
  transition: 150ms ease-in-out;
}
