.container {
  position: relative;
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
}
.wrap_parallax {
  position: absolute;
  max-width: 1680px;
  padding: 0px 10px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.layer {
  transition: transform 400ms ease-out;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;

  /* background: rgba(255, 255, 255, 0); */
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0) 0%,
    rgba(51, 51, 51, 0) 90%
  );
}
.skill img.ts {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  margin-bottom: -3px;
  margin-top: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.411);
  background: rgba(0, 0, 0, 0.315);
}

.under {
  margin-top: -4px;
  align-self: flex-end;
  position: relative;
  width: 100%;
  transform: translate(-150%, 0);
  height: 3px;
  margin-bottom: 2px;
  z-index: -1;
  border-radius: 10px;
  background: #fff;
  box-shadow: var(--underline-shadow);
}
.under2 {
  margin-top: 0px;
  align-self: flex-end;
  position: relative;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: var(--underline-color);
}
.btn {
  position: relative;
  color: var(--dark-color);
  background: rgba(255, 255, 255, 0.561);
  border-radius: 2px;

  padding: 5px 10px 2px 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 250ms ease-in-out;
  overflow: hidden;
  /* border: rgba(255, 255, 255, 0) 4px solid; */

  border-bottom: var(--underline-color) 4px solid;
  /* border: 2px solid rgba(255, 255, 255, 0); */

  /* box-shadow: 0 0 5px 1px rgba(178, 201, 202, 0.164); */
}
.btn:hover {
  /* color: var(--line-color); */
  background: rgba(255, 255, 255, 1);
  border-bottom: var(--line-color) 4px solid;
  /* border: var(--line-color) 3px solid; */
  /* box-shadow: 0 0 6px 2px rgba(37, 37, 37, 0.8); */
  /* border: 2px solid rgb(255, 255, 255); */
}
